<h1>{{title}}</h1>
<form name="loginForm">
  <md-input-container>
    <label>email</label>
    <input name="email" ng-model="user.email" required>
    <div ng-messages="userForm.email.$error" ng-show="userForm.email.$dirty">
      <div ng-message="required">This is required!</div>
    </div>
  </md-input-container>
  <md-input-container>
    <label>Password</label>
    <input name="password" ng-model="user.password" required>
    <div ng-messages="userForm.password.$error" ng-show="userForm.password.$dirty">
      <div ng-message="required">This is required!</div>
    </div>
  </md-input-container>
  <md-button class="md-raised md-accent" ng-click="login()">Login</md-button>
</form>